<% if @current_user.favorited_by?(post.id) %>
   <td>
    <%= link_to destroy_favorite_path(post.id), method: :delete, remote: true do%>      
      <span class="fa fa-heart liked-btn"></span>
    <% end %>
    <%= post.favorites.count %>
  </td>
 <% else %>
   <td>
    <%= link_to create_favorite_path(post.id), method: :post, remote: true do%>
      <span class="fa fa-heart unliked-btn"></span>
    <% end %>
    <%= post.favorites.count %>
  </td>
<% end %>