<div class="pt-40 h-screen">
  <div class="form users-form">
    <div class="form-body flex justify-center">
      <%= form_tag("/users/login") do %>
        <p>メールアドレス</p>
        <input name="email" class="border-solid border-2 border-indigo-600">
        <p class="mt-3">パスワード</p>
        <!-- 以下のinputタグにtype属性を指定してください -->
        <input type="password" name="password" class="border-solid border-2 border-indigo-600">  
        <div class="flex justify-center mt-3">
          <input type="submit" value="ログイン" class="rounded-full border-solid border-2 border-indigo-600 hover:border-dotted p-1">
        </div>      
      <% end %>
    </div>
  </div>
</div>
