<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>タイトル：
            <input type="text" name="title">
          </p>
          <p>概要：
            <textarea name="content"><%= @post.content %></textarea>
          </p>
          <p>募集人数：
            <input type="number" name="NumApplicants">
          </p>
          <p>
            開始日: <input type="date" name="start_date">
            終了日: <input type="date" name="end_date">
          </p>
          
          
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>